/* static/styles.css */
/* Estilos para el Sticky Footer */

html, body {
    height: 100%; /* Asegura que la altura del html y body abarque toda la ventana */
    margin: 0;
}

.wrapper {
    min-height: 100vh; /* Asegura que el contenedor abarque toda la altura visible */
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1; /* El contenido principal ocupa todo el espacio restante, empujando el footer */
}